<h2>Tinh Tong,Hieu,Tich,Thuong: @ViewBag.Result</h2>
<form asp-action = "Index">
<label>Nhap so thu nhat</label>
<input type = "number" name = "Number1">
<label>Nhap so thu hai</label>
<input type = "number" name = "Number2">
<button type = "submit" name = "Operation" value = "add">Cong</button>
<button type = "submit" value = "sub">Tru</button>
<button type = "submit" value = "mul">Nhan</button>
<button type = "submit" value = "div">chia</button>
</form>