<h2>Tinh Tong,Hieu,Tich,Thuong: @ViewBag.Result</h2>
<form asp-action = "Index">
<label>Nhap so thu nhat</label>
<input type = "next" name = "Number1">
<label>Nhap so thu hai</label>
<input type = "next" name = "Number2">
<input type = "submit" value = "+">
<input type = "submit" value = "-">
<input type = "submit" value = "*">
<input type = "submit" value = "/">
</form>